.form{
    width: 100%;
    padding: 20px;
}

.form label{
    font-size: 1.6rem;
}

.form input{
    padding: 10px;
    width: 80%;
    font-size: 1.6rem;
    margin-bottom: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(229, 229, 229);
}

.form input:focus{
    outline: none;
}

.btn-macro{
    margin: 0px;
}

.loading{
    font-size: 2rem;
    margin-top: 50px;
    color: white;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(55, 197, 121);
}

.back{
    position: absolute;
    top: -40px;
    left: -15px;
    font-size: 1.4rem;
    background: none;
    border: none;
    cursor: pointer;
}

.back:hover{
    color: blue;
}